@media screen and (max-width: 1200px) {

  #hero {
    padding: 15px 50px;
  }

  .hero_container {
    width: 100%;
  }

  .nav__list {
    display: none;
  }

  .burger {
    display: block;
  }

  .container {
    width: 100%;
  }

  .main__info {
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .main__title {
    font-weight: 600;
    font-size: 38px;
    line-height: 45.6px;
    letter-spacing: 0%;
  }

  .main__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
  }

  .homepage__avatar {
    border-radius: 0 0 28px 28px;
  }

  .main__img {
    width: 50%;
  }

  #trend {
    margin-top: 0;
    padding: 15px 50px;
  }

  .trend__box {
    width: 48%;
  }

  .trend__box .row {
    width: 100%;
  }

  .trend__heading {
    font-size: 28px;
    line-height: 39.2px;
  }

  .trend__text {
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
  }

  .trend__row {
    justify-content: space-between;
    gap: 0;
  }

  .trend__row .trend__box:nth-child(3) {
    display: none;
  }


  #creators {
    margin-top: 80px;
  }

  .creator__title {
    font-size: 28px;
    line-height: 39.2px;
  }

  .creators .row {
    padding-bottom: 40px;
  }

  .creator_text {
    font-size: 16px;
    line-height: 22.4px;
  }

  .creat__btn {
    line-height: 22.4px;
  }

  .grid {
    grid-template-columns: auto auto;
  }

  .position {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .grid__img {
    width: 60px;
  }

  .creat__text {
    text-align: start;
  }

  .display__none {
    display: none;
  }

  #browse {
    margin-top: 80px;
  }

  .browse__title {
    font-size: 28px;
    line-height: 39.2px;
    letter-spacing: 0%;
    padding-bottom: 40px;
  }

  .box_one {
    /* width: 150px; */
  }

  .part__text p {
    font-size: 16px;
    line-height: 22.4px;
    padding: 20px 20px;
  }

}

@media screen and (max-width: 720px) {

  #hero {
    margin-top: 0;
    padding: 15px 30px;
  }

  .main__row {
    flex-direction: column;
    gap: 40px;
  }

  .main__info {
    width: 100%;
    align-items: center;
  }

  .main__page {
    width: 100%;
  }

  .main__btn {
    width: 100%;
  }

  .main__img {
    width: 100%;
  }

  #trend {
    padding: 15px 30px;
  }

  .trend__row .trend__box:not(:nth-child(1)) {
    display: none;
  }

  .trend__box {
    width: 100%;
  }

  .creators .row {
    flex-direction: column;
    align-items: start;
  }

  .creat__btn {
    width: 90%;
  }

  .grid {
    grid-template-columns: auto;
    gap: 20px;
  }

  .position {
    justify-content: space-around;
  }

  #browse {
    margin-top: 80px;
  }

  .browse__grid {
    grid-template-columns: auto auto;
    gap: 20px;
  }

  .box_one {
    /* width: 145px; */
  }
}