@media screen and (max-width: 1200px) {
  #hero {
    padding: 15px 50px;
  }

  .hero_container {
    width: 100%;
  }

  .nav__list {
    display: none;
  }

  .burger {
    display: block;
  }

  .container {
    width: 100%;
  }

  .main__info {
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .main__title {
    font-weight: 600;
    font-size: 38px;
    line-height: 45.6px;
    letter-spacing: 0%;
  }

  .main__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
  }

  .homepage__avatar {
    border-radius: 0 0 28px 28px;
  }

  .main__img {
    width: 50%;
  }

  #trend {
    margin-top: 0;
    padding: 15px 50px;
  }

  .trend__box {
    width: 48%;
  }

  .trend__box .row {
    width: 100%;
  }

  .trend__heading {
    font-size: 28px;
    line-height: 39.2px;
  }

  .trend__text {
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
  }

  .trend__row {
    justify-content: space-between;
    gap: 0;
  }

  .trend__row .trend__box:nth-child(3) {
    display: none;
  }

  #creators {
    margin-top: 80px;
  }

  .creator__title {
    font-size: 28px;
    line-height: 39.2px;
  }

  .creators .row {
    padding-bottom: 40px;
  }

  .creator_text {
    font-size: 16px;
    line-height: 22.4px;
  }

  .creat__btn {
    line-height: 22.4px;
  }

  .grid {
    grid-template-columns: auto auto;
  }

  .position {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .grid__img {
    width: 60px;
  }

  .creat__text {
    text-align: start;
  }

  .display__none {
    display: none;
  }

  #browse {
    margin-top: 80px;
  }

  .browse__title {
    font-size: 28px;
    line-height: 39.2px;
    letter-spacing: 0%;
    padding-bottom: 40px;
  }

  .box_one {
    width: 98%;
  }

  .part__text p {
    font-size: 16px;
    line-height: 22.4px;
    padding: 20px 20px;
  }


  #discover {
    margin-top: 80px;
  }

  .discover__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 39.2px;
    letter-spacing: 0%;
  }

  .discover__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
  }

  .discover__grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    padding-top: 40px;
  }

  #mashroom {
    height: 630px;
  }

  .mash__row {
    justify-content: space-evenly;
  }

  .mashroom__title {
    font-size: 38px;
    line-height: 45.6px;
  }

  #work {
    margin-top: 40px;
  }

  .work .discover__grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding-top: 40px;
  }

  .work img {
    width: 160px;
  }

  .work .grid__box {
    padding: 20px;
  }

  .work__title {
    font-size: 16px;
    line-height: 22.4px;
  }

  .work__text {
    font-size: 12px;
    line-height: 16.8px;
  }

  #lastbox {
    margin-top: 60px;
  }

  .lastbox__row {
    display: flex;
    padding: 40px 30px;
    gap: 30px;
  }

  .info__title {
    font-size: 28px;
    line-height: 39.2px;
  }

  .info__text {
    font-size: 16px;
    line-height: 22.4px;
  }

  .info__btn {
    width: 100%;
    background-color: #A259FF;
    color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    position: relative;
  }

  .info__btn:hover {
    background-color: #a18f8f;
    color: #090213;
  }

  .footer__row {
    flex-direction: column;
    height: 100%;
  }

  hr {
    margin: 40px auto;
  }

}

/* media 720px */
@media screen and (max-width: 720px) {

  #hero {
    margin-top: 0;
    padding: 15px 30px;
  }

  .main__row {
    flex-direction: column;
    gap: 40px;
  }

  .main__info {
    width: 100%;
    align-items: center;
  }

  .main__page {
    width: 100%;
  }

  .main__btn {
    width: 100%;
  }

  .main__img {
    width: 100%;
  }

  #trend {
    padding: 15px 30px;
  }

  .trend__row .trend__box:not(:nth-child(1)) {
    display: none;
  }

  .trend__box {
    width: 100%;
  }

  .creators .row {
    flex-direction: column;
    align-items: start;
  }

  .creat__btn {
    width: 90%;
  }

  .grid {
    grid-template-columns: auto;
    gap: 20px;
  }

  .position {
    justify-content: space-around;
  }

  #browse {
    margin-top: 80px;
  }

  .discover__row {
    flex-direction: column;
    align-items: flex-start;
  }

  .discover__btn {
    width: 90%;
  }

  .browse__grid {
    grid-template-columns: auto auto;
    gap: 20px;
  }

  #discover {
    margin-top: 80px;
  }

  .discover__grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
  }

  .discover__grid .display__none {
    display: block;
  }

  #mashroom {
    height: 590px;
    margin-top: 60px;
  }

  #mashroom .container {
    padding-top: 120px;
  }

  .mash__row {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .mash__btn {
    width: 100%;
  }


  .work .discover__grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .work img {
    width: 100px;
  }

  .work .grid__box {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .work .grid__box div {
    text-align: start;
  }

  #lastbox {
    margin-top: 80px;
  }

  #lastbox .container {
    background-color: #2B2B2B;
    border-radius: 0;
  }

  .lastbox__row {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}